.activity {
    grid-area: activity;
    height: 100%;
    padding: 20px;
    background-color: white; /* Consistent with props default */
    color: black;
    box-sizing: border-box;
    overflow-y: auto; /* Enables scrolling if content overflows */
}

.activity nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.activity nav li {
    margin-bottom: 20px;
}

.activity nav h1 {
    margin-bottom: 10px;
    font-size: 20px;
}

.activity nav p {
    margin: 5px 0;
    font-size: 16px;
}
