# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment config files
.env
.env.production
.env.*.local
deploy/compose/.env
deploy/compose/secrets/*
services/synapse/src/config/synapse-config.json
services/synapse/secrets/*
services/synapse/src/orbitdb/ipfs/
services/synapse/src/orbitdb/keystore/
services/synapse/src/orbitdb/orbitdb/
services/synapse/uploads/
services/synapse-rs/target/*
