@import "tailwindcss";

@theme {
  --color-background: #282828;
  --color-panel: #1A1A1A;
  --color-card: #282828;
  --color-border: #3A3A3A;

  --color-foreground: #EDEDED;

  --color-brand: #FF6B6B;
}

body {
    background: #282828;
}
