/* Enki */

@theme {
    /* Foundations */
    --color-background:         #000000;   /* Panel Background */
    --color-surface:            #060606;   /* Panel/Card Surface */
    --color-border:             #333333;   /* Pane Splitters */

    /* Header background */
    --color-header-bg:          #000000;   /* Header Background Color */

    /* Typography */
    --color-foreground:         #E8E8E8;   /* Primary Text */
    --color-foreground-message: #E8E8E8;   /* Text for Chat/Direct Messages */
    --color-neutral:            #A8A8A8;   /* Secondary Labels */

    /* Brand & Accents */
    --color-brand:              #FF00DD;   /* Headlines and Highlights */
    --color-primary:            #C511A6;   /* Buttons / CTAs */
    --color-accent:             #00E0FF;   /* Notifications / Alerts */
    --color-secondary:          #AB7CFF;   /* Secondary */

    /* Action states */
    --color-edit:               #1A1A1A;
    --color-edit-hover:         #222222;
    --color-is-editing:         #FF00DD;

    --color-save:               #00CC6A;
    --color-save-hover:         #00A75F;

    --color-delete:             #FF4F4F;
    --color-delete-hover:       #CC2F2F;
}

/* Options for the actual window background. Solid, gradient, animated. */


/* Solid Background */
body {
    background: #000000;
}

/* Gradient Background */
/*body {
    background: linear-gradient(
        to bottom,
        var(--color-background),
        var(--color-brand),
        var(--color-background)
    );
    backdrop-filter: blur(1rem);
}*/

/* Animated Background */
/*body {
    background: linear-gradient(
        270deg,
        var(--color-background),
        var(--color-brand),
        var(--color-accent),
        var(--color-background)
    );
    background-size: 600% 600%;
    animation: gradientShift 12s ease infinite;
    backdrop-filter: blur(16px);
}

@keyframes gradientShift {
    0%   { background-position: 0% 50%; }
    50%  { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}*/

/* Scrollbar Styling */

/* For WebKit (Chrome, Safari) */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #121212;
}
::-webkit-scrollbar-thumb {
    background-color: #00E0FF;
    border-radius: 6px;
}
