.message-form {
    display: flex;
    gap: 10px;
    margin-top: 80px;
}

.message-form__entry-field {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: lightgray;
    min-height: 80px;
    min-width: 400px;
    padding: 10px;
}

.message-form__button {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: black;
    background-color: white; /* Optional: Add background color */
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer; /* Show pointer on hover */
}

.message-form__button:hover {
    background-color: #f7adf4;
}