.notification {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 20px;
    font-family: 'Montserrat', sans-serif;
}

.notification:hover {
    cursor: pointer;
    background-color: #eb34e5;
}