/* Rosé Pine */

:root {
    /* Foundations */
    --color-background:         #191724;   /* Panel Background */
    --color-surface:            #1f1d2e;   /* Panel/Card Surface */
    --color-border:             #26233a;   /* Pane Splitters */

    /* Header background */
    --color-header-bg:          #1f1d2e;   /* Header Background Color */

    /* Typography */
    --color-foreground:         #e0def4;   /* Primary Text */
    --color-foreground-message: #e0def4;   /* Text for Chat/Direct Messages */
    --color-neutral:            #6e6a86;   /* Secondary Labels */

    /* Brand & Accents */
    --color-brand:              #eb6f92;   /* Headlines and Highlights */
    --color-primary:            #9ccfd8;   /* Buttons / CTAs */
    --color-accent:             #f6c177;   /* Notifications / Alerts */
    --color-secondary:          #c4a7e7;   /* Secondary */

    /* Action states */
    --color-edit:               #2a273f;
    --color-edit-hover:         #3b3754;
    --color-is-editing:         #eb6f92;

    --color-save:               #31748f;
    --color-save-hover:         #2d6a84;

    --color-delete:             #eb6f92;
    --color-delete-hover:       #d6577a;
}

/* Options for the actual window background. Solid, gradient, animated. */

/* Solid Background */
body {
    background: #191724;
}

/* Gradient Background */
/*body {
    background: linear-gradient(
        to bottom,
        var(--color-background),
        var(--color-primary),
        var(--color-background)
    );
    backdrop-filter: blur(1rem);
}*/

/* Animated Background */
/*body {
    background: linear-gradient(
        270deg,
        var(--color-background),
        var(--color-primary),
        var(--color-secondary),
        var(--color-background)
    );
    background-size: 600% 600%;
    animation: gradientShift 10s ease infinite;
    backdrop-filter: blur(16px);
}

@keyframes gradientShift {
    0%   { background-position: 0% 50%; }
    50%  { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}*/

/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #1f1d2e;
}
::-webkit-scrollbar-thumb {
    background-color: #eb6f92;
    border-radius: 6px;
}
