/*────────────────────── Scary Monsters and Nice Sprites ──────────────────────*
 * A theme inspired by Skrillex’s “Scary Monsters and Nice Sprites” EP.        *
 * Neon greens, glitch reds, and deep blacks capture the aggressive energy     *
 * and digital chaos of early 2010s dubstep.                                   *
 *─────────────────────────────────────────────────────────────────────────────*/


:root {
    /* Foundations */
    --color-background:         #0A0A0A;   /* Panel Background */
    --color-surface:            #131313;   /* Panel/Card Surface */
    --color-border:             #2B2B2B;   /* Pane Splitters */

    /* Header background */
    --color-header-bg:          #0A0A0A;   /* Header Background Color */

    /* Typography */
    --color-foreground:         #E2E8EA;   /* Primary Text */
    --color-foreground-alt:     #000000;   /* Secondary Text */
    --color-foreground-message: #E2E8EA;   /* Text for Chat/Direct Messages */
    --color-foreground-message-owner: #000000;   /* Text for Chat/Direct Messages */
    --color-neutral:            #7D8386;   /* Secondary Labels */

    /* Brand & Accents */
    --color-brand:              #00FF8E;   /* Headlines and Highlights */
    --color-primary:            #00DB73;   /* Buttons / CTAs */
    --color-accent:             #FF0033;   /* Notifications / Alerts */
    --color-secondary:          #7DFEFF;   /* Secondary */

    /* Action states */
    --color-edit:               #191919;
    --color-edit-hover:         #202020;
    --color-is-editing:         #00FF8E;

    --color-save:               #19E68C;
    --color-save-hover:         #12B96E;

    --color-delete:             #FF0033;
    --color-delete-hover:       #C80029;
}

/* Options for the actual window background. Solid, gradient, animated. */

/* Solid Background */
body {
    background: #131313;
}

/* Gradient Background */
/*body {*/
/*    background: linear-gradient(*/
/*            to bottom,*/
/*            var(--color-background),*/
/*            var(--color-accent),*/
/*            var(--color-background)*/
/*    );*/
/*    backdrop-filter: blur(1rem);*/
/*}*/

/* Animated Background */
/*body {*/
/*    background: linear-gradient(*/
/*            270deg,*/
/*            var(--color-background),*/
/*            var(--color-accent),*/
/*            var(--color-background)*/
/*    );*/
/*    background-size: 600% 600%;*/
/*    animation: gradientShift 10s ease infinite;*/
/*    backdrop-filter: blur(16px);*/
/*}*/

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Scrollbar Styling */

/* For WebKit (Chrome, Safari) */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #131313; /* background */
}
::-webkit-scrollbar-thumb {
    background-color: #00FF8E; /* brand color */
    border-radius: 6px;
}
