/* Solarized */

:root {
    /* Foundations */
    --color-background:         #002B36;   /* Panel Background */
    --color-surface:            #073642;   /* Panel/Card Surface */
    --color-border:             #586E75;   /* Pane Splitters */

    /* Header background */
    --color-header-bg:          #002B36;   /* Header Background Color */

    /* Typography */
    --color-foreground:         #839496;   /* Primary Text */
    --color-foreground-message: #839496;   /* Text for Chat/Direct Messages */
    --color-neutral:            #657B83;   /* Secondary Labels */

    /* Brand & Accents */
    --color-brand:              #268BD2;   /* Headlines and Highlights */
    --color-primary:            #B58900;   /* Buttons / CTAs */
    --color-accent:             #2AA198;   /* Notifications / Alerts */
    --color-secondary:          #D33682;   /* Secondary */

    /* Action states */
    --color-edit:               #094352;
    --color-edit-hover:         #083C4B;
    --color-is-editing:         #268BD2;

    --color-save:               #859900;
    --color-save-hover:         #6A7A00;

    --color-delete:             #DC322F;
    --color-delete-hover:       #B02826;
}

/* Options for the actual window background. Solid, gradient, animated. */

/* Solid Background */
body {
    background-color: var(--color-background);
    color: var(--color-foreground);
}

/* Gradient Background */
/*body {*/
/*    background: linear-gradient(*/
/*            to bottom,*/
/*            var(--color-background),*/
/*            var(--color-primary),*/
/*            var(--color-background)*/
/*    );*/
/*    backdrop-filter: blur(1rem);*/
/*}*/

/* Animated Background */
/*body {
    background: linear-gradient(
            270deg,
            var(--color-background),
            var(--color-primary),
            var(--color-accent),
            var(--color-secondary),
            var(--color-background)
    );
    background-size: 600% 600%;
    animation: gradientShift 10s ease infinite;
    backdrop-filter: blur(16px);
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}*/

/* Scrollbar Styling */

/* For WebKit (Chrome, Safari) */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #1A1A1A;
}
::-webkit-scrollbar-thumb {
    background-color: #2AA198;
    border-radius: 6px;
}
