/* Turbo Unicorn Confetti */

:root {
    /* Foundations */
    --color-background:         #00FFEE;   /* Panel Background */
    --color-surface:            #FF66FF;   /* Panel/Card Surface */
    --color-border:             #FFFF38;   /* Pane Splitters */

    /* Header background */
    --color-header-bg:          #FF66FF;   /* Header Background Color */

    /* Typography */
    --color-foreground:         #0D0D0D;   /* Primary Text */
    --color-foreground-message: #FF3366;   /* Text for Chat/Direct Messages */
    --color-foreground-message-owner: #33FFCE;   /* Text for Chat/Direct Messages */
    --color-neutral:            #383838;   /* Secondary Labels */

    /* Brand & Accents */
    --color-brand:              #FF00FF;   /* Headlines and Highlights */
    --color-primary:            #FF3366;   /* Buttons / CTAs */
    --color-accent:             #33FFCE;   /* Notifications / Alerts */
    --color-secondary:          #FFD000;   /* Secondary */

    /* Action states */
    --color-edit:               #33A8FF;
    --color-edit-hover:         #0090FF;
    --color-is-editing:         #FF00FF;

    --color-save:               #5CFF33;
    --color-save-hover:         #3EDD22;

    --color-delete:             #FF1654;
    --color-delete-hover:       #D11246;
}

/* Options for the actual window background. Solid, gradient, animated. */

/* Solid Background */
body {
    background: #00FFEE;
}

/* Gradient Background */
/*
body {
    background: linear-gradient(
        to bottom,
        var(--color-background),
        var(--color-accent),
        var(--color-background)
    );
    backdrop-filter: blur(1rem);
}
*/

/* Animated Background */
/*
body {
    background: linear-gradient(
        270deg,
        var(--color-background),
        var(--color-primary),
        var(--color-accent),
        var(--color-secondary),
        var(--color-background)
    );
    background-size: 600% 600%;
    animation: gradientShift 14s ease infinite;
    backdrop-filter: blur(16px);
}

@keyframes gradientShift {
    0%   { background-position: 0% 50%; }
    50%  { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
*/

/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #101631;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(135deg, #33FFCE 0%, #33A8FF 50%, #FF00FF 100%);
    border-radius: 6px;
}
