.header__container {
    grid-area: header;
    width: 100%;
    height: 65px;
    padding: 0 20px;
    background-color: black;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    display: flex;
    align-items: center;
    justify-content: space-between; /* Space between main header and actions */

    position: relative;
}

.header__main-content {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.header__main-content h1 {
    margin: 0;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}

.header__notifications {
    position: relative;
}

.header__notifications-tray {
    position: absolute;
    top: 65px; /* Push the tray below the header */
    right: 0;
    width: 300px; /* Adjust width as needed */
    background-color: black;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Ensure it is above other elements */
}



.header__notifications-tray-toggle {
    cursor: pointer;
    font-size: 16px;
    color: white;
    background-color: transparent;
    border: none;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.header__notifications-tray-toggle--active {
    font-weight: bold;
    color: white;
}

.header__search {
    margin-right: 30px;
    margin-left: auto;
    align-items: center;
}

/* Responsive Design */
@media (max-width: 768px) {
    .header__main-content {
        height: 60px;
        padding: 0 10px;
    }

    .header__main-content h1 {
        font-size: 20px;
    }

    .header__search {
        width: 85px
    }
}
