.user-profile__post-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.user-profile__data {
    padding: 20px;
    font-family: 'Montserrat', sans-serif;

}

.user-profile__follow-button {
    padding: 8px;
    font-size: 12px;
    font-weight: bold;
    background-color: #eb34e5;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.user-profile__follow-button:hover {
    background-color: #801c7c;
}

.user-profile__post-form {
    width: 100%;
    margin-bottom: 20px;
}

.user-profile__posts {
    width: 100%;
    max-width: 800px;
}