/* Base Block */
.user-post {
    position: relative;
    padding: 20px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: black;
    color: white;
    transition: background-color 0.3s ease;
}

/* Elements */
.user-post__identity {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.user-post__display-name {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    margin: 0;
}

.user-post__display-name:hover {
    text-decoration: underline;
}

.user-post__handle {
    text-decoration: none;
    font-weight: bold;
    margin: 0;
    color: #eb34e5;
}

.user-post__date {
    text-align: left;
    font-size: 0.9rem;
    color: #aaa;
}

.user-post__follow-actions {

}

.user-post__follow-button {
    font-family: 'Inter', sans-serif;
    border: none;
    cursor: pointer;
    font-size: 0.75rem;
    transition: background-color 0.3s ease;
    font-weight: bold;
    background-color: #eb34e5;
    color: white;
    border-radius: 4px;
}

.user-post__follow-button:hover {
    background-color: #801c7c;
}

.user-post__content {
    padding-top: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    text-align: left;
}

.user-post__textarea {
    width: 100%;
    min-height: 80px;
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.user-post__content-actions {
    padding-top: 10px;
    display: flex;
    justify-content: flex-end;
    top: 10px;
    right: 10px;
    gap: 20px;
}

.user-post__button {
    font-family: 'Inter', sans-serif;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    font-size: 0.75rem;
    transition: background-color 0.3s ease;
}

.user-post__button--save {
    background-color: #28a745;
    color: #fff;
}

.user-post__button--save:hover {
    background-color: #218838;
}

.user-post__button--edit {
    background-color: #aaaa;
    color: #fff;
}

.user-post__button--edit:hover {
    background-color: #0056b3;
}

.user-post__button--delete {
    background-color: #dc3545;
    color: #fff;
}

.user-post__button--delete:hover {
    background-color: #c82333;
}

/* Modifier: Editing State */
.user-post--editing {
    background-color: darkgray;
    border-color: #007bff;
}

.user-post__stats {
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: left;
    margin: 10px 0px;
}

.user-post__stats-likes {
    font-size: 0.9rem;
    color: #aaa;
}

.user-post__stats-comments {
    margin-left: 20px;
    font-size: 0.9rem;
    color: #aaa;
}