/* Blush Cloud */

@theme {
    /* Foundations */
    --color-background:         #f9fafc;   /* Panel Background */
    --color-surface:            #f6d9d5;   /* Panel/Card Surface */
    --color-border:             #e3e4e6;   /* Pane Splitters */

    /* Header background */
    --color-header-bg:          #ffffff;   /* Header Background Color */

    /* Typography */
    --color-foreground:         #313131;   /* Primary Text */
    --color-foreground-message: #313131;   /* Text for Chat/Direct Messages */
    --color-neutral:            #a1a1a1;   /* Secondary Labels */

    /* Brand & Accents */
    --color-brand:              #f7d0cb;   /* Headlines and Highlights */
    --color-primary:            #e3e4e6;   /* Buttons / CTAs */
    --color-accent:             #f7d0cb;   /* Notifications / Alerts */
    --color-secondary:          #f6d9d5;   /* Secondary */

    /* Action states */
    --color-edit:               #ffffff;
    --color-edit-hover:         #f1f1f1;
    --color-is-editing:         #f7d0cb;

    --color-save:               #60b38e;
    --color-save-hover:         #4c9f7c;

    --color-delete:             #e88a89;
    --color-delete-hover:       #c56d6c;
}

/* Options for the actual window background. Solid, gradient, animated. */


/* Solid Background */
body {
    background: #f9fafc;
}

/* Gradient Background */
/*body {
    background: linear-gradient(
        to bottom,
        var(--color-background),
        var(--color-brand),
        var(--color-background)
    );
    backdrop-filter: blur(1rem);
}*/

/* Animated Background */
/*body {
    background: linear-gradient(
        270deg,
        var(--color-background),
        var(--color-brand),
        var(--color-accent),
        var(--color-background)
    );
    background-size: 600% 600%;
    animation: gradientShift 10s ease infinite;
    backdrop-filter: blur(16px);
}

@keyframes gradientShift {
    0%   { background-position: 0% 50%; }
    50%  { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}*/

/* Scrollbar Styling */

/* For WebKit (Chrome, Safari) */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background-color: #f7d0cb;
    border-radius: 6px;
}
