/* Dracula */

@theme {
    /* Foundations */
    --color-background:         #282A36;   /* Panel Background */
    --color-surface:            #343746;   /* Panel/Card Surface */
    --color-border:             #44475A;   /* Pane Splitters */

    /* Header background */
    --color-header-bg:          #20212b;    /* Header Background Color */

    /* Typography */
    --color-foreground:         #F8F8F2;   /* Primary Text */
    --color-foreground-message: #F8F8F2;   /* Text for Chat/Direct Messages */
    --color-neutral:            #6272A4;   /* Secondary Labels */

    /* Brand & Accents */
    --color-brand:              #FF79C6;    /* Headlines and Highlights */
    --color-primary:            #BD93F9;    /* Buttons / CTAs */
    --color-accent:             #8BE9FD;    /* Notifications / Alerts */
    --color-secondary:          #FFB86C;    /* Secondary */

    /* Action states */
    --color-edit:               #383A59;
    --color-edit-hover:         #333555;
    --color-is-editing:         #FF79C6;

    --color-save:               #50FA7B;
    --color-save-hover:         #3ED867;

    --color-delete:             #FF5555;
    --color-delete-hover:       #CC4444;
}

/* Options for the actual window background. Solid, gradient, animated. */

/* Solid Background */
body {
    background: #282A36;
}

/* Gradient Background */
/*body {*/
/*    background: linear-gradient(*/
/*            to bottom,*/
/*            var(--color-background),*/
/*            var(--color-primary),*/
/*            var(--color-background)*/
/*    );*/
/*    backdrop-filter: blur(1rem); !* equivalent to Tailwind's 'backdrop-blur-lg' *!*/
/*}*/

/* Animated Background */
/*body {*/
/*    background: linear-gradient(*/
/*            270deg,*/
/*            var(--color-background),*/
/*            var(--color-primary),*/
/*            var(--color-secondary),*/
/*            var(--color-background)*/
/*    );*/
/*    background-size: 600% 600%;*/
/*    animation: gradientShift 10s ease infinite;*/
/*    backdrop-filter: blur(16px);*/
/*}*/

/*@keyframes gradientShift {*/
/*    0% {*/
/*        background-position: 0% 50%;*/
/*    }*/
/*    50% {*/
/*        background-position: 100% 50%;*/
/*    }*/
/*    100% {*/
/*        background-position: 0% 50%;*/
/*    }*/
/*}*/

/* Scrollbar Styling */

/* For WebKit (Chrome, Safari) */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #1A1A1A; /* background */
}
::-webkit-scrollbar-thumb {
    background-color: #8BE9FD; /* brand color */
    border-radius: 6px;
}