.settings-layout {
    display: grid;
    grid-template-areas:
        "header header header"
        "nav settings-menu settings-content";
    grid-template-columns: 250px 225px 1fr; /* nav | settings-menu | content */
    grid-template-rows: 65px 1fr; /* header | main content */
    width: 100%;
    min-height: 100vh; /* Full height */
}

.settings-layout__menu {
    grid-area: settings-menu;
    background-color: #e9ecef;
    color: black;
    padding: 20px;
    height: 100%; /* Ensure it stretches to bottom */

}

.settings-layout__main-content {
    grid-area: settings-content;
    padding: 20px;
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}