/* SPDX-License-Identifier: AGPL-3.0-or-later */
/* Copyright © 2025 Malifex LLC and contributors */

:root {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;

  overflow: hidden;
  overscroll-behavior: none;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Reset margin and padding for full viewport usage */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box; /* Consistent box model */
  overflow: hidden;
  overscroll-behavior: none;
}

/* Reset box-sizing for all elements */
*, *::before, *::after {
  box-sizing: inherit;
}
